# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/

# Build
dist/
build/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.log
npm-debug.log*
